
.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    margin: 180px 0 0 0;
    width: 100%;
}

.card_type_fullwidth {
    margin: 40px 0 0 0;
}

.card__video {
    width: 698px;
    height: 400px;
}

img.card__video {
    height: auto;
}

.card__video_order_2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

.card__info {
    max-width: 698px;
    background: url(../images/ebg.svg) center no-repeat;
    background-size: cover;
}

.card_type_fullwidth .card__info {
    max-width: 100%;
}

.card__title {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 1.2;
}

.card__info_order_1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.card__subtitle {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin: 12px 0 0 0;
}

.card__description {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin: 40px 0 0 0;
}

.card__description_order_2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

.card__description-box_order_1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}


.card__image-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.card__image {
    max-width: 395px;
    margin: 0 12px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.card__price {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: block;
    margin: 40px 0;
}

.card__buttons {
    margin: 40px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
}

.card__button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1;
    border: 1px solid #36333f;
    padding: 12px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.card__button:hover {
    background: #000;
    color: #fff;
}

.card__button_type_read {
    border: none;
}

.card__button_type_read:hover {
    background: transparent;
    color: #000;
}

.card__button_type_read::after {
    background-color: #000;
    display: block;
    content: '';
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.card__button_type_read:hover::after, .card__button_type_read:focus::after {
    width: 100%;
}


.card_type_second {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.card__description_no-margin {
    margin: 0;
}



@media screen and (max-width: 1919px) {
    .card {
        gap: 12px;
    }

    .card__description {
        margin: 32px 0 0 0;
    }

    .card__description_no-margin {
        margin: 0;
    }


    .card__image {
        max-width: 278px;
    }
}

@media screen and (max-width: 1279px) {

    .card {
        margin: 28px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .card_type_second {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .card__video {
        width: 100%;
        height: 500px;
    }

    .card__video_order_2 {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .card__info_order_1 {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .card__description_order_2 {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    
    .card__description-box_order_1 {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    

    .card__info {
        width: 100%;
    }

    .card__image {
        max-width: 48%;
    }

}

@media screen and (max-width: 767px) {
    .card__description {
        font-size: 14px;
        line-height: 18px;
    }

    .card__price-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 20px 0 0 0;
        width: 100%;
    }

    .card__price {
        margin: 0;
    }

    .card__buttons {
        margin: 0;
    }

    .card__button_type_read {
        display: none;
    }

    .card__video {
        width: 100%;
        height: 300px;
    }

}